
<div th:fragment="cuenta">
	<!-- Dropdown -->
	<div class="dropdown">
		<div sec:authorize="isAuthenticated()" class="">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-bs-toggle="dropdown"
				aria-expanded="false">
				<span sec:authentication="name">Usuario</span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<li><a class="dropdown-item"
					th:href="@{/{username}(username=${#authentication.name})}">Perfil</a></li>
				<li>
					<form th:action="@{/user/logout}" method="post"
						class="dropdown-item">
						<input type="submit" value="Cerrar sesión"
							class="btn btn-outline-danger" /> <input type="hidden"
							th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
				</li>
			</ul>
		</div>
		<div sec:authorize="isAnonymous()" class="">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-bs-toggle="dropdown"
				aria-expanded="false">Cuenta</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<li><a class="dropdown-item" th:href="@{/login}">Iniciar
						sesión</a></li>
				<li><a class="dropdown-item" th:href="@{/user/registro}">Registrarse</a></li>
			</ul>
		</div>
	</div>
</div>